In [ ]:
!cat junio.dat

numero de trabajador, nombres, paterno, materno, horas extra, sueldo base, año de ingreso
2345,CARLOS,PEREZ,CASTILLO,0,9850,2017
5754,ANGEL,GOMEZ,GARRIDO,1,9850,2020
5345,JESUS,MARTIN,SANTOS,2,9850,2016
3267,DAVID,JIMENEZ,LOZANO,2,9850,2017
8765,PEDRO,RUIZ,GUERRERO,2,9850,2017
5454,DANIEL,HERNANDEZ,CANO,3,9850,2018
3456,ALEJANDRO,DIAZ,PRIETO,2,9850,2018
3445,MARIA,MORENO,MENDEZ,1,9850,2018
9088,ALBERTO,MU�OZ,CRUZ,1,9850,2017
8877,RAFAEL,ALVAREZ,FLORES,2,9850,2017
6767,FERNANDO,ROMERO,HERRERA,4,9850,2019
5654,PABLO,ALONSO,GALLEGO,1,9850,2019
4323,JORGE,GUTIERREZ,MARQUEZ,2,9850,2020
2232,RAMON,NAVARRO,LEON,1,9850,2016

In [ ]:
archivo = open('junio.dat', 'rt' , encoding='latin-1')
print (archivo.read())

numero de trabajador, nombres, paterno, materno, horas extra, sueldo base, aÃ±o de ingreso
2345,CARLOS,PEREZ,CASTILLO,0,9850,2017
5754,ANGEL,GOMEZ,GARRIDO,1,9850,2020
5345,JESUS,MARTIN,SANTOS,2,9850,2016
3267,DAVID,JIMENEZ,LOZANO,2,9850,2017
8765,PEDRO,RUIZ,GUERRERO,2,9850,2017
5454,DANIEL,HERNANDEZ,CANO,3,9850,2018
3456,ALEJANDRO,DIAZ,PRIETO,2,9850,2018
3445,MARIA,MORENO,MENDEZ,1,9850,2018
9088,ALBERTO,MUOZ,CRUZ,1,9850,2017
8877,RAFAEL,ALVAREZ,FLORES,2,9850,2017
6767,FERNANDO,ROMERO,HERRERA,4,9850,2019
5654,PABLO,ALONSO,GALLEGO,1,9850,2019
4323,JORGE,GUTIERREZ,MARQUEZ,2,9850,2020
2232,RAMON,NAVARRO,LEON,1,9850,2016

In [135]:
class Array:
    def __init__(self , tam):
        self.__tamanio = tam
        self.__data = [ 0  for x in range(self.__tamanio)]

    def to_string( self):
        info= ""
        for dato in self.__data:
            info = info + str(dato)
        return info
    
    def get_item(self,  index):
        return self.__data[index]

    def get_length(self):
        return len(self.__data)
    
    def set_item(self, dato, index):

        if index >=0 and index < self.get_length():
          self.__data[index] = dato
        else:
          print("Error indice fuera de rango")

    def clear( self, dato):
        self.__data = [dato for x in range(self.__tamanio)]

ejemplo=Array(20)
print( ejemplo.to_string())

00000000000000000000

In [179]:
class trabajador:
    def __init__(self, nt, nom, pat, mat, he, sb, ai):
      #nt=numero de trabajador, nom=nombre, pat=paterno, mat=materno, he=horas extras, sb=sueldos base, ai=año de ingreso.
      self.__numero_trabajador = nt
      self.__nombre = nom
      self.__parterno = pat
      self.__materno = mat
      self.__horas_extras = he
      self.__sueldo_base = sb
      self.__anio_ingreso = ai 
  
  #Aqui van los metodos de acceso

    def set_numero_trabajador(self , nt):
        self.__numero_trabajador= nt 
    def get_numero_trabajador(self):
      return self.__numero_trabajador


    def set_nombre(self , nom):
        self.__nombre= nom 
    def get_nombre(self):
      return self.__nombre


    def set_paterno(self, pat):
        self.__paterno = pat
    def get_paterno(self):
      return self.__paterno


    def set_materno(self, mat):
        self.__materno = mat
    def get_materno(self):
      return self.__materno


    def set_horas_extras(self, he):
        self.__horas_extras = he
    def get_horas_extras(self):
      return self.__horas_extras

    def set_sueldo_base(self, sb):
        self.__sueldo_base= sb
    def get_sueldo_base(self):
      return self.__sueldo_base

    def set_anio_ingreso(self, ai):
        self.__anio_ingreso = ai
    def get_anio_ingreso(self):
      return self.__anio_ingreso

    
    
    #metodos de uso
    def calcular_sueldo_mensual(self):
        anios = 2021 - self.get_anio_ingreso()

        sueldo = self.get_sueldo_base()
        #agregarle horas extra
        sueldo += self.get_horas_extras() * 276.5
        #prestaciones
        sueldo = sueldo + (sueldo * anios * 0.03 )
        return sueldo

    def calcular_antiguedad(self ):
      return 2021 - self.get_anio_ingreso()  

    def to_string( self):
      return "Nombre:" + self.__nombre  + " Sueldos: $" + str(self.calcular_sueldo_mensual()) + "  Años de antiguedad: " + str(self.calcular_antiguedad())



emp = trabajador(2345,'CARLOS','PEREZ','CASTILLO',1,9850,2017)
print(emp.get_sueldo_base())
print(emp.get_horas_extras())
print(emp.calcular_antiguedad())
print(emp.to_string())

9850
1
4
Nombre:CARLOS Sueldos: $11341.68  Años de antiguedad: 4

In [180]:
class NominaADT:
    def __init__(self , ruta_archivo):
      #abrir el archivo y determinar el numero de empleados
      archivo = open('junio.dat' , 'rt' , encoding= 'latin-1')
      empleados = archivo.readlines()
      del empleados [0]
      for index in range(len(empleados)):
          empleados[index] = empleados[index].strip().split(',')
      self.__data=Array( len(empleados) )
      cont = 0
      for emp in empleados:
          tmp = trabajador( int(emp[0]) , emp[1], emp[2] ,  emp[3],  int(emp[4]), int(emp[5]), int(emp[6]))
          self.__data.set_item( tmp , cont)
          cont +=1


    def buscar_mas_antiguos( self ):
        for index in range(self.__data.get_length()):
            print(self.__data.get_item(index))

                
    def buscar_menor_antiguedad(self):
        pass

    def calcular_sueldos(self):
        for index in range(self.__data.get_length()):
            print(self.__data.get_item(index).to_string())


ejemplo = NominaADT('junio.dat')
ejemplo.calcular_sueldos()

Nombre:CARLOS Sueldos: $11032.0  Años de antiguedad: 4
Nombre:ANGEL Sueldos: $10430.295  Años de antiguedad: 1
Nombre:JESUS Sueldos: $11963.45  Años de antiguedad: 5
Nombre:DAVID Sueldos: $11651.36  Años de antiguedad: 4
Nombre:PEDRO Sueldos: $11651.36  Años de antiguedad: 4
Nombre:DANIEL Sueldos: $11640.655  Años de antiguedad: 3
Nombre:ALEJANDRO Sueldos: $11339.27  Años de antiguedad: 3
Nombre:MARIA Sueldos: $11037.885  Años de antiguedad: 3
Nombre:ALBERTO Sueldos: $11341.68  Años de antiguedad: 4
Nombre:RAFAEL Sueldos: $11651.36  Años de antiguedad: 4
Nombre:FERNANDO Sueldos: $11613.36  Años de antiguedad: 2
Nombre:PABLO Sueldos: $10734.09  Años de antiguedad: 2
Nombre:JORGE Sueldos: $10715.09  Años de antiguedad: 1
Nombre:RAMON Sueldos: $11645.475  Años de antiguedad: 5